<div class="container container1">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2>UPDATE USER DEPARTMENT</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="form_new">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-fields">
                            <label class="form-label">Department Name</label>
                            <input type="text" class="form-control" id="deptName" name="deptName"
                                [(ngModel)]="userDeptDto.deptName" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-fields">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address"
                                [(ngModel)]="userDeptDto.address" required>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6">
                        <div class="input-fields">
                            <label for="" class="form-label">States</label>
                            <select class="form-select" id="states" name="states" [(ngModel)]="userDeptDto.state"
                                required ngModel #states="ngModel">
                                <option value="" disabled>Select a state</option>
                                <option *ngFor="let state of States.data" [value]="state.states">{{ state.states }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-fields">
                            <label for="" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" name="country"
                                [(ngModel)]="userDeptDto.country" required>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="button-group">
                        <button type="submit" class="btn btn-primary">
                            Update
                        </button>

                        <button class="btn btn-warning" routerLink="/home/user-dept">
                            Back
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>