<div class="background_color">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <h5 class="bold">
          <i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us
        </h5>
        <div class="bold1">
          <i class="fa fa-home"></i>&nbsp;Mahanidhi Leads Private Limited
        </div>
        <p class="add text_color">368/369 ,Suraram Colony, Hyderabad 500055</p>
        <p class="tel text_color">
          <i class="fa fa-phone"></i> Tel : + (91) - 7093135710<br />
          <i class="fa fa-envelope"></i>
          <a routerLink="#" class="email_color">mahhanidhi2023@gmail.com</a
          ><br />
          <i class="fa fa-calendar"></i> Business Hours : 9:30 - 5:30
        </p>
        <a routerLink="/PrivacyandpolicyComponent"><h5>Privacy&Policy</h5></a>
        <a routerLink="/TermsandconditionsComponent"
          ><h5>terms&conditions</h5></a
        >
      </div>
      <div class="col-md-4 col-12">
        <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>
        <p class="text_color">
          We are coming up with new offers every day, please follow us on
          platoforms
        </p>
        <div class="brand-bg">
          <a class="facebook" routerLink="#"
            ><i class="fa fa-facebook circle-3"></i
          ></a>
          <a class="twitter" target="_blank" routerLink="#"
            ><i class="fa fa-twitter circle-3"></i
          ></a>
          <a class="google-plus" routerLink="#"
            ><i class="fa fa-google-plus circle-3"></i
          ></a>
          <a class="pinterest" routerLink="#"
            ><i class="fa fa-instagram circle-3"></i
          ></a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="bold">
          <i class="fa fa-suitcase"></i>&nbsp;&nbsp;Introduction
        </h5>
        <div class="widget-body text_color">
          <p>
            Mahanidhi is an innovative local search engine designed to
            revolutionize the way people access information and service within
            their communities.Unlike global search engines, Mahanidhi focuses on
            providing hyper-localized results,making it an indispensable tool
            for residents seeking information that,s geographically and
            culturally relevant to them. This platform is particularly
            beneficial in areas where local Businesses, services, and cultural
            events are not widely covered by larger search engines.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <footer class="bg-body-tertiary text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3">
        <p class="copyright m-b-10">
          © Copyright 2018 <b>Webhelios </b>. All rights reserved
        </p>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</div>
