<div class="background_color">
    <div class="container">
     <div class="row">
         <div class="sub_bg_color mt-3 mb-3" >
             <div class="col-md-12">
                 <div class="row">
                     <div class="col-lg-3 col-md-6 col-sm-6 p-0 advance-search-button">
                       <a routerLink="#">
                         <span class="fa fa-superpowers"></span> 
                         Advanced Search </a>
                      </div>
                 </div>
                 <div class="row">
                     <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                         <select class="form-select" id="verticals" name="veticals" required ngModel #verticals="ngModel" (ngModelChange)="onChangeVertical($event)"   >
                             <option value='' selected>Select  Vertical</option>
                             <option *ngFor="let vetical of verticalList" [value]="vetical.listItem">{{vetical.listItem}}</option>
                             <!-- <option value="2">It Infra</option>
                             <option value="3">Telecom</option> -->
                           </select>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                         <select class="form-select"   id="states" name="states" required ngModel #verticals="ngModel" (ngModelChange)="onChangeState($event)">
                            <option value='' selected>Select  State</option>
                            <option *ngFor="let state of stateList" [value]="state.states">{{state.states}}</option>
                             <!-- <option value="2">AP</option>
                             <option value="3">Karnataka</option> -->
                           </select>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                         <!-- <select class="form-select" >
                             <option selected>From Date</option>
                             <option value="1">January</option>
                             <option value="2">Feb</option>
                             <option value="3">March</option>
                           </select> -->
                           <!-- <label for="fromDate">From Date:</label>
                            <input type="date" class="form-control" id="fromDate" name="fromDate"> -->

                            <!-- <label for="dateRange">Select Date Range:</label> -->
                            <select class="form-select" [(ngModel)]="selectedRange" id="dateRange" (change)="onRangeChange()">
                                <option value="">Select Date</option>
                                <option value="today">Today</option>
                                <option value="yesterday">Yesterday</option>
                                <option value="this_week">This Week</option>
                                <option value="custom">Custom Range</option>
                              </select>
                              
                           
                     </div>    
                    
                         <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                               <a >
                               <button type="submit" class="btn btn-warning btn-sm col-12 col-md-12 button_color" (click)="onSearch()"><i class="fa fa-search"></i>&nbsp; Search </button></a>
                         </div>
                         
                 </div>
                 <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                         <div *ngIf="selectedRange === 'custom'">
                        <div class="backgroundDate">
                        <div class="row p-2">

                            <div class="col-md-6">
                                
                                    <label for="fromDate">From Date:</label>
                                    <input class="form-control" type="date" id="fromDate" [(ngModel)]="fromDate" >
                                  
                            </div>
                            <div class="col-md-6">
                                <label for="toDate">To Date:</label>
                                <input class="form-control"  type="date" id="toDate" [(ngModel)]="toDate" >
                            </div>
                        </div>
                    </div></div>
                 </div>
                
                   
                  </div>
                 <!-- <div class="row mt-2">
                 
                    <div class="col-md-3">
                        <div class="earnings-card">
                            <div class="row earnings-card-title" (click)="getAllTendersbyNumber()">
                                <div class="col-md-8">
                                    <div class="earnings-title">{{tendersDashboardData.totalTenders}}</div>
                                   
                                </div>
                                <div class="col-md-4 text-center"><span class="las la-file-alt" style="font-size: 64px; color:white"></span></div>
                            </div>                          
                            <div class="percentage-change">
                            
                                <span> All Tenders</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="earnings-card">
                            <div class="row earnings-card-title" (click)="getAllTendersbyAwarded()">
                                <div class="col-md-8">
                                    <div class="earnings-title">{{tendersDashboardData.awardedTenders}}</div>
                                
                                </div>
                                <div class="col-md-4 text-center"><span class="las la-trophy" style="font-size: 64px; color:rgb(46, 204, 113)"></span></div>
                            </div>
                            
                            <div class="percentage-change1">
                                <span>Awarded Tenders</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="earnings-card">
                            <div class="row earnings-card-title" >
                                <div class="col-md-8">
                                    <div class="earnings-title">3</div>
                                </div>
                                <div class="col-md-4 text-center ">
                                    <span class="las la-thumbs-up" style="font-size: 64px; color:#ff6600 ;"></span>
                                </div>
                            </div>
                            
                            <div class="percentage-change2">
                                <span>Participated Tenders</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="earnings-card">
                            <div class="row earnings-card-title" >
                                <div class="col-md-8">
                                    <div class="earnings-title">2</div>
                                </div>
                                <div class="col-md-4 text-center"><span class="las la-times-circle" style="font-size: 64px; color:red"></span></div>
                            </div>
                            
                            <div class="percentage-change3">
                                <span>Not Awarded Tenders</span>
                            </div>
                        </div>

                    </div>

                 </div> -->
                 <div class="container-fluid mt-2">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="earnings-cardcard1">
                                <div class="row earnings-card-title" (click)="getAllTendersbyNumber()">
                                    <div class="col-8">
                                        <div class="earnings-title">{{tendersDashboardData.totalTenders}}</div>
                                    </div>
                                    <div class="col-4 text-center icon1"><span class="las la-file-alt iconfont " style="font-size: 50px; color:white"></span></div>
                                </div>                          
                                <div class="percentage-change">
                                    <span>All Tenders</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="earnings-cardcard2">
                                <div class="row earnings-card-title" (click)="getAllTendersbyAwarded()">
                                    <div class="col-8">
                                        <div class="earnings-title">{{tendersDashboardData.awardedTenders}}</div>
                                    </div>
                                    <div class="col-4 text-center icon2"><span class="las la-trophy iconfont" style="font-size: 50px; color:white"></span></div>
                                </div>
                                <div class="percentage-change">
                                    <span>Awarded Tenders</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="earnings-cardcard3">
                                <div class="row earnings-card-title" (click)="getAllTendersbyParticipated()">
                                    <div class="col-8">
                                        <div class="earnings-title">{{tendersDashboardData.participatedTenders}}</div>
                                    </div>
                                    <div class="col-4 text-center icon3">
                                        <span class="las la-thumbs-up iconfont " style="font-size: 50px; color:white;"></span>
                                    </div>
                                </div>
                                <div class="percentage-change">
                                    <span>Participated Tenders</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="earnings-cardcard4">
                                <div class="row earnings-card-title" (click)="getAllTendersbyNotAwarded()">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                        <div class="earnings-title ">{{tendersDashboardData.notAwardedTenders}}</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 text-center icon">
                                        <span class="las la-times-circle iconfont" style="font-size: 50px; color:white;font-weight: 600;"></span>
                                        <!-- <span class="las la-times-circle  d-md-none icons" style="font-size: 64px; color:white;font-weight: 600;"></span> -->
                                        
                                    </div>
                                </div>
                                <div class="col-md-12 percentage-change ">
                                    <span>Not Awarded Tenders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
         </div>
     </div>
    </div>
</div>
    <!-- <div class="container"> -->
        
<div class="container" *ngIf=" roles === 'ROLE_ADMIN'">
    <div class="row">
<div class="background_color2">
            <div class="row  ms-3">
                <div class="col-lg-3 col-md-6 col-sm-6 p-0 ">
                    <div class="row mt-3 " style="color: black;">
                  <p routerLink="#">
                    <span class="fa fa-superpowers"></span> 
                    Revenue </p>
                    
                 </div></div>
            </div>
            <div class="row ">
                <div class="col-md-4 col-12 ">
                    <div class="flip-card " style="width: 100%;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front revenue1">
                                <div class="row earnings-card-title">
                                    <div class="col-md-8 ">
                                        <div class="titles1 pb-1 p-1">
                                        <div class="earnings-title2-2 text-left ">Total Revenue</div>
                                        <div class="earnings-title2-1 text-left">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white; ">{{tendersDashboardData.totalrevenue | number: '1.0-0'}}</span>
                                        </div>
                                    </div>
                                    <hr style="background-color: white; font-weight: 500;">
                                    <div class="titles1 p-1">
                                        <div class="earnings-title2-2 text-left">Total Received</div>
                                        <div class="earnings-title2-1 text-left">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white;">{{tendersDashboardData.valueReceived | number: '1.0-0'}}</span>
                                        </div>
                                    </div></div>
                                  
                                    <div class="col-md-4 col-sm-4 ">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-20 h-20 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-15 lg:mt-3 revenuesvg">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 8.25H9m6 3H9m3 6-3-3h1.5a3 3 0 1 0 0-6M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                          </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back revenue2">
                                <div class="row">
                                    <div class="col-md-4  col-sm-4 text-center" > <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-20 h-20 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20  lg:mt-5 lg:ms-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 8.25H9m6 3H9m3 6-3-3h1.5a3 3 0 1 0 0-6M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                      </svg></div>
                                <div class="col-md-8">
                                    <div class="titles1 text-center mt-4 ">
                                        <div class="earnings-title2-2">Total Revenue Balance</div>
                                        <div class="earnings-title2-1 p-3 ">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white; ">0</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="flip-card " style="width: 100%;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front earnings-card3">
                                <div class="row earnings-card-title">
                                    <div class="col-md-8">
                                        <div class="titles1 pb-1 p-1">
                                        <div class="earnings-title2-2 text-left ">Total BG Amount </div>
                                        <div class="earnings-title2-1 text-left ">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white; ">{{tendersDashboardData.bgpendingreceivables | number: '1.0-0'}}</span>
                                        </div>
                                    </div>
                                    <hr style="background-color: white; font-weight: 500;">
                                    <div class="titles1 p-1">
                                        <div class="earnings-title2-2 text-left">Total Received </div>
                                        <div class="earnings-title2-1 text-left">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white;">{{tendersDashboardData.bg | number: '1.0-0'}}</span>
                                        </div>
                                    </div></div>
                                  
                                    <div class="col-md-4 col-sm-4 ">
                                        
                                          <svg xmlns="http://www.w3.org/2000/svg"  fill="white" class="bi bi-bank" viewBox="0 0 24 24" class="w-19 h-19 ml-n20 d-none d-md-block  md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-15 lg:mt-3 revenuesvg">
                                            <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                                          </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back revenue2">
                                <div class="row">
                                    <div class="col-md-4  col-sm-4 text-center" > 
                                       
                                      <svg xmlns="http://www.w3.org/2000/svg"  fill="white" class="bi bi-bank" viewBox="0 0 24 24" class="w-19 h-19 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:mt-5 lg:ms-7 ">
                                        <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                                      </svg>
                                    </div>
                                <div class="col-md-8">
                                    <div class="titles1 text-center mt-4 ">
                                        <div class="earnings-title2-2">Total BG Balance</div>
                                        <div class="earnings-title2-1 p-3">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white; ">{{tendersDashboardData.bgBal | number: '1.0-0'}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="flip-card " style="width: 100%;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front earnings-card4">
                                <div class="row earnings-card-title ">
                                    <div class="col-md-8 ">
                                        <div class="titles1 pb-1 p-1">
                                        <div class="earnings-title2-2 text-left ">Total EMD Amount </div>
                                        <div class="earnings-title2-1  text-left">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white; ">{{tendersDashboardData.emdpendingreceivables | number: '1.0-0'}}</span>
                                        </div>
                                    </div>
                                    <hr style="background-color: white; font-weight: 500;">
                                    <div class="titles1 p-1">
                                        <div class="earnings-title2-2 text-left">Total Received </div>
                                        <div class="earnings-title2-1 text-left">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white;">{{tendersDashboardData.emd | number: '1.0-0'}}</span>
                                        </div>
                                    </div></div>
                                  
                                    <div class="col-md-4 col-sm-4 ">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-20 h-20 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-15 lg:mt-3 revenuesvg" >
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                                          </svg>
                                          
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back revenue2">
                                <div class="row">
                                    <div class="col-md-4  col-sm-4 text-center" > 
                                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-20 h-20 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:mt-5 lg:ms-7" >
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                                      </svg>
                                    </div>
                                <div class="col-md-8">
                                    <div class="titles1 text-center mt-4 ">
                                        <div class="earnings-title2-2">Total EMD Balance</div>
                                        <div class="earnings-title2-1 p-3">
                                            <span class="las la-rupee-sign " style="font-size: 25px; color: white; ">{{tendersDashboardData.emdBal | number: '1.0-0'}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 ">
                    <div class="earnings-card3">
                        <div class="row earnings-card-title">
                            <div class="col-md-8">
                                <div class="earnings-title2-1"><span class="las la-rupee-sign  " style="font-size: 18px;  color: white;">{{tendersDashboardData.bg | number: '1.0-0'}}</span></div>
                                <div class="earnings-title2-2">Total BG Amount </div>
                            </div>
                            <div class="col-md-4 text-center">
                           
                                <svg xmlns="http://www.w3.org/2000/svg"  fill="white" class="bi bi-bank" viewBox="0 0 24 24" class="w-19 h-19 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-2 lg:mt-2">
                                    <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                                  </svg>
                            </div>
                        </div>
                    </div>
                </div> -->

              
                <!-- <div class="col-md-4">
                    <div class="earnings-card4">
                        <div class="row earnings-card-title">
                            <div class="col-md-8">
                                <div class="earnings-title2-1"><span class="las la-rupee-sign  " style="font-size: 18px;  color: white;">{{tendersDashboardData.emd | number: '1.0-0'}}</span></div>
                                <div class="earnings-title2-2"> Total EMD Fee</div>
                            </div>
                            <div class="col-md-4 text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-20 h-20 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-5" >
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                                  </svg>
                             
                            </div>
                        </div>
                    </div>
                </div> -->
               
            </div>
         
            <div class="row margiintop" >
                <div class="col-md-3">
                    <div class="earnings-card5">
                        <div class="row earnings-card-title">
                            <div class="col-md-12">
                                <div class="earnings-title-r2"><span class="las la-rupee-sign" style="font-size: 20px;">{{tendersDashboardData.processingfee | number: '1.0-0'}}</span></div>
                                <div class="earnings-title1"> Processing Fee</div>
                            </div>
                            <!-- <div class="col-md-4 text-center"></span></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="earnings-card6">
                        <div class="row earnings-card-title">
                            <div class="col-md-12">
                                <div class="earnings-title-r2"><span class="las la-rupee-sign" style="font-size: 20px;">{{tendersDashboardData.transactionfee | number: '1.0-0'}}</span></div>
                                <div class="earnings-title1"> Transaction Fee </div>
                            </div>
                            <!-- <div class="col-md-4 text-center"><span class="las la-rupee-sign" style="font-size: 32px;"></span></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="earnings-card7">
                        <div class="row earnings-card-title">
                            <div class="col-md-12">
                                <div class="earnings-title-r2"><span class="las la-rupee-sign" style="font-size: 20px;">{{tendersDashboardData.corpusfee | number: '1.0-0'}}</span></div>

                                <div class="earnings-title1"> Corpus Fee</div>
                            </div>
                            <!-- <div class="col-md-4 text-center"><span class="las la-rupee-sign" style="font-size: 32px;"></span></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="earnings-card8">
                        <div class="row earnings-card-title">
                            <div class="col-md-12">
                                <div class="earnings-title-r2"><span class="las la-rupee-sign" style="font-size: 20px;">{{tendersDashboardData.totalDocumentFee | number: '1.0-0'}}</span></div>
                                
                                <div class="earnings-title1"> Documentation Fee</div>
                            </div>
                            <!-- <div class="col-md-4 text-center"><span class="las la-rupee-sign" style="font-size: 32px;"></span></div> -->
                </div>
            </div>
         </div>
                <!-- <div class="col-md-4"></div> -->
     </div>
     <div class="background_color2receivables">
     <div class="row  ms-3">
        <div class="col-lg-3 col-md-6 col-sm-6 p-0 ">
            <div class="row mt-3 " style="color: black;">
          <p >
            <span class="fa fa-money"></span> 
            Receivables </p>
            
         </div></div>
    </div>
    <div class="receive -mt-6">
    <div class="row  p-2 ">
        <div class="col-md-4">
            <div class="card1">
                <div class="row earnings-card-title">
                    <div class="col-md-8">
                        <div class="earnings-title2-1"><span class="las la-rupee-sign  " style="font-size: 20px;  color: white;">{{tendersDashboardData.bgpendingreceivables | number: '1.0-0'}}</span></div>
                        <div class="earnings-title2-2"> Total BG Pending</div>
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- <span class="las la-rupee-sign d-none d-md-block" style="font-size: 64px;color: white;"></span> -->
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="white" class="bi bi-bank" viewBox="0 0 24 24" class="w-19 h-19 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-2 lg:mt-2">
                            <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                          </svg>
                     <!-- Shown on small screens, hidden on medium screens and larger -->
                     
                    </div>
                </div>
                
              </div>
        </div>
        <div class="col-md-4">
            <div class="card1">
                <div class="row earnings-card-title">
                    <div class="col-md-8">
                        <div class="earnings-title2-1"><span class="las la-rupee-sign  " style="font-size: 18px;  color: white;">{{tendersDashboardData.emdpendingreceivables | number: '1.0-0'}}</span></div>
                        <div class="earnings-title2-2">Total EMD Pending</div>
                    </div>
                    <div class="col-md-4 text-center">
                    <!-- <div class="col-md-4 text-center"><span class="las la-rupee-sign d-none d-md-block" style="font-size: 64px;color: white;"></span> -->
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-20 h-20 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                        </svg> -->
                      
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-20 h-20 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-5" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                          </svg>
                     <!-- Shown on small screens, hidden on medium screens and larger -->
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card1">
                <div class="row earnings-card-title">
                    <div class="col-md-8">
                        <div class="earnings-title2-1"><span class="las la-rupee-sign  " style="font-size: 20px;  color: white;">{{tendersDashboardData.bgexpiredamount | number: '1.0-0'}}</span></div>
                        <div class="earnings-title2-2">Total BG Expired </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- <span class="las la-rupee-sign d-none d-md-block" style="font-size: 64px;color: white;"></span> -->
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="white" class="bi bi-bank" viewBox="0 0 24 24" class="w-19 h-19 ml-n20 d-none d-md-block md:w-12 md:h-12 lg:w-20 lg:h-20 lg:-ml-2 lg:mt-2">
                            <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                          </svg>
                     <!-- Shown on small screens, hidden on medium screens and larger -->
                     
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
</div>
<br>
 </div>
</div>

</div>


 <br>
 
<div class="container">
    <div class="row">
        <div class="chart-container">
            <canvas  id="MyChart" ></canvas>
        </div>
    </div>
  <!-- <div class="row">
      <div class="chart-container" style="display: block">
        <canvas baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [type]="'bar'"
        [options]="{ responsive: true, maintainAspectRatio: false }">
       </canvas>
    </div>
    </div> -->
 </div>


  